name: Ruff Format

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Ruff check
        uses: astral-sh/ruff-action@v3
      - name: Ruff format
        run: ruff format --check --diff


